.main {
  padding: 0 16px;
  font-weight: bold;
  font-size: 20px;
  max-width: 360px;
  width: 100%;

  box-sizing: border-box;
  margin: 220px auto;
}

.pageTitle {
  margin-top: 30px;
  font-size: 20px;
}

.ticketList {
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
}
